<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Triangle Validator</title>
        <link rel="stylesheet" href="../../../../../src/shared-library/styles/css/main.css">
    </head>
    <body>
        <header>
            <h3>Triangle Validator</h3>
        </header>
        <main>
        </main>
        <footer></footer>
        <script type="module" src=""></script>
    </body>
</html>