<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Survey</title>
    <link rel="stylesheet" href="../../../../../src/shared-library/styles/css/main.css">
  </head>
  <body>
    <main>
        <h1>Hotel Survey</h1>
        <h4>Previous Surveys</h4>
        <section id="root"></section>
    </main>
    <script type="module" src="./surveys.js"></script>
  </body>
</html>